{% extends 'menu.html' %}
{% block title %} Home {% endblock title %}
{% block body %}

<h1 style="text-align:center; margin-top:50px;">Attendance Monitoring System</h1>
<div class="card card1" style="width: 18rem;">
  
  <div class="card-body text-center d-grid col-12">
    <a href="HRloginform" class="btn btn-outline-success "  type="button" 
                 > HR Login</a>

    
  </div>
</div>
<div class="card card2" style="width: 18rem;">

  

  <div class="card-body text-center d-grid col-12 ">
    
    <a href="Employeeloginform" class="btn btn-outline-success ">Employee Login</a>
  </div>
</div>

{% endblock body %}
           

    